[color]
  ui = auto

[user]
  name = JC Grubbs
  email = jc.grubbs@devmynd.com

[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
	pr = pull --rebase
  lg = log --pretty="format:'%h %ad | %an - %s%d'" --date=short
	cp = cherry-pick
	diffs = diff --cached
	rp = remote prune
	rpo = remote prune origin
	gcp = gc --prune
	panic = !tar cvf ../git_panic.tar .